In [73]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
data = pd.read_csv("cup98LRN.txt",sep=",")

C:\Users\hp\AppData\Local\Temp\ipykernel_7400\3632182487.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("cup98LRN.txt",sep=",")

In [6]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [12]:
data.shape

(95412, 481)

In [35]:
list(data.columns)[:40]

['ODATEDW',
 'OSOURCE',
 'TCODE',
 'STATE',
 'ZIP',
 'MAILCODE',
 'PVASTATE',
 'DOB',
 'NOEXCH',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'MDMAUD',
 'DOMAIN',
 'CLUSTER',
 'AGE',
 'AGEFLAG',
 'HOMEOWNR',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'NUMCHLD',
 'INCOME',
 'GENDER',
 'WEALTH1',
 'HIT',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN']

In [25]:
data.WEALTH1.isna().sum()

44732

In [37]:
features = data[['NUMCHLD','INCOME','GENDER','WEALTH1','AGE']]
features

       NUMCHLD  INCOME GENDER  WEALTH1   AGE
0          NaN     NaN      F      NaN  60.0
1          1.0     6.0      M      9.0  46.0
2          NaN     3.0      M      1.0   NaN
3          NaN     1.0      F      4.0  70.0
4          1.0     3.0      F      2.0  78.0
...        ...     ...    ...      ...   ...
95407      NaN     NaN      M      NaN   NaN
95408      1.0     7.0      M      9.0  48.0
95409      NaN     NaN      M      NaN  60.0
95410      NaN     7.0      F      NaN  58.0
95411      NaN     5.0      F      8.0  80.0

[95412 rows x 5 columns]

In [51]:
featured_data = data[['NUMCHLD','INCOME','GENDER','WEALTH1','AGE','HOMEOWNR','PETS','AVGGIFT']]

In [58]:
featured_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NUMCHLD   12386 non-null  float64
 1   INCOME    74126 non-null  float64
 2   GENDER    95412 non-null  object
 3   WEALTH1   50680 non-null  float64
 4   AGE       71747 non-null  float64
 5   HOMEOWNR  95412 non-null  object
 6   PETS      95412 non-null  object
 7   AVGGIFT   95412 non-null  float64
dtypes: float64(5), object(3)
memory usage: 5.8+ MB

In [67]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

# Apply label encoding to the 'Color' column
featured_data['Gender_enc'] = label_encoder.fit_transform(featured_data.GENDER)
featured_data['home_enc'] = label_encoder.fit_transform(featured_data.HOMEOWNR)
featured_data['Pets_enc'] = label_encoder.fit_transform(featured_data.HOMEOWNR)

C:\Users\hp\AppData\Local\Temp\ipykernel_7400\3800939570.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data['Gender_enc'] = label_encoder.fit_transform(featured_data.GENDER)
C:\Users\hp\AppData\Local\Temp\ipykernel_7400\3800939570.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data['home_enc'] = label_encoder.fit_transform(featured_data.HOMEOWNR)
C:\Users\hp\AppData\Local\Temp\ipykernel_7400\3800939570.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data['Pets_enc'] = label_encoder.fit_transform(featured_data.HOMEOWNR)

In [84]:
featured_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NUMCHLD     12386 non-null  float64
 1   INCOME      95412 non-null  float64
 2   GENDER      95412 non-null  object
 3   WEALTH1     95412 non-null  float64
 4   AGE         95412 non-null  float64
 5   HOMEOWNR    95412 non-null  object
 6   PETS        95412 non-null  object
 7   AVGGIFT     95412 non-null  float64
 8   Gender_enc  95412 non-null  int32
 9   home_enc    95412 non-null  int32
 10  Pets_enc    95412 non-null  int32
dtypes: float64(5), int32(3), object(3)
memory usage: 6.9+ MB

In [70]:
featured_data.isna().sum()

NUMCHLD       83026
INCOME        21286
GENDER            0
WEALTH1       44732
AGE           23665
HOMEOWNR          0
PETS              0
AVGGIFT           0
Gender_enc        0
home_enc          0
Pets_enc          0
dtype: int64

In [71]:
featured_data.shape

(95412, 11)

In [80]:
featured_data["INCOME"].fillna(np.mean(featured_data.INCOME),inplace=True)
featured_data["WEALTH1"].fillna(np.mean(featured_data.WEALTH1),inplace=True)
featured_data["AGE"].fillna(np.mean(featured_data.AGE),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_7400\33914663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data["INCOME"].fillna(np.mean(featured_data.INCOME),inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7400\33914663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data["WEALTH1"].fillna(np.mean(featured_data.WEALTH1),inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7400\33914663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data["AGE"].fillna(np.mean(featured_data.AGE),inplace=True)

In [81]:
featured_data.isna().sum()

NUMCHLD       83026
INCOME            0
GENDER            0
WEALTH1           0
AGE               0
HOMEOWNR          0
PETS              0
AVGGIFT           0
Gender_enc        0
home_enc          0
Pets_enc          0
dtype: int64

In [86]:
y = featured_data.AVGGIFT
X = featured_data[['INCOME','Gender_enc','WEALTH1','AGE','home_enc','Pets_enc']]

In [87]:

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict on the testing data
y_pred = model.predict(X_test)

In [91]:
from sklearn.metrics import r2_score

# Assuming you have your true target values (y_true) and predicted target values (y_pred)
r2 = r2_score(y_test,y_pred)
print(r2)

0.01297296343233234